[Unit]
Description=Adjust the brightness with colord and icc files
Wants=colord.service
After=colord.service

[Service]
Type=simple
ExecStart=colord-brightness
Restart=on-failure
RestartSec=1s
RestartSteps=1
RestartMaxDelaySec=2s

[Install]
WantedBy=default.target
